/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

main{
  width:var(--page-width);
  height: 100%;
}

::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {
 background: var( --bg-color-one);

  
 }
::-webkit-scrollbar-thumb {
 background: var( --bg-color-one);
  border-radius: 10px ; 
 border: 8px solid rgba(0, 0, 0, 0);
 background-clip: padding-box;
 /* border-radius: 9999px; */
 background-color: #aaaaaa98;
 cursor: grab;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top,#AAAAAA ,#AAAAAA ); 
  border:6px solid rgba(0, 0, 0, 0);
 transition: 1s all;
  background-clip: padding-box;
 
 }
::-webkit-scrollbar-thumb:active {
 background: linear-gradient(to top,#AAAAAA ,#AAAAAA ); 
 border: 7px solid rgba(0, 0, 0, 0);
 cursor: grabbing;
 background-clip: padding-box;

}
